<div class="row">
  <div class="col-md-4"></div>
  <%= form_for [:admin, @page] do |f| %>
      <% if @page.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@page.errors.count, "error") %> prohibited this movie from being saved:</h2>

            <ul>
              <% @page.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.text_field :title, placeholder: "Page Title", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.text_area :content, placeholder: "Page content goes here...", class: "textarea"%>
          <script type="text/javascript">
            $('.textarea').wysihtml5({toolbar: { color: true } });
          </script>
        </div>
        <%= f.hidden_field :page_type, { :value => params[:page_type]} %>

        <div class="actions">
          <%= f.submit :class => 'btn btn-primary' %>
        </div>
      </div>
  <% end %>
  <div class="col-md-4"></div>
</div>