<% content_for :content_header do %>
    <section class="content-header">
      <h1>
        Pages
        <small>Pages in your app</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Pages</a></li>
      </ol>
    </section>
<% end %>

<!-- Main content -->
<section class="content">
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Page List</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Context</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @pages.each do |page| %>
          <tr>
              <td><%= page.title %></td>
              <td><%= page.page_type %></td>
              <td><%= page.content %></td>
              <td width="9%"><%= link_to "Edit", edit_admin_page_path(page), {class: "btn btn-info"}%>

                <%= link_to 'Delete',  admin_page_path(page), data: { confirm: 'Are you sure?' }, class: "btn btn-danger", method: :delete %></td>
          <% end %>
          </tr>
          </tbody>
        </table>
      </div><!-- /.box-body -->
        <div align="right" style="padding-right: 40px;">
        </div>
      </div>
    </div><!-- /.box -->
  </div><!-- /.col -->
</div><!-- /.row -->
</section><!-- /.content -->
</div><!-- /.content-wrapper -->
