<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="images/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Admin Panel</li>
      <!-- Optionally, you can add icons to the links -->
      <%= active_link_to(raw("<i class='fa fa-dashboard'></i>Home"), admin_root_path, :active => :exclusive, :wrap_tag => :li, :class_active => 'active') %>
      <!--<li class="active"><a href="#"><i class="fa fa-link"></i> <span>Home</span></a></li>-->
      <li class="treeview">
        <%= active_link_to raw("<i class='fa fa-link'></i> <span>Pages</span> <i class='fa fa-angle-left pull-right'></i>"), admin_pages_path, :class_active => 'active'%>

        <ul class="treeview-menu">
          <li><%= link_to "List Pages", admin_pages_path %></li>
          <li><%= link_to "New Custom Page", new_admin_custom_page_path %></li>
          <li><%= link_to "New Contact Page", new_admin_contact_page_path %></li>
          <li><%= link_to "New Menu Page", new_admin_menu_page_path %></li>
          <li><%= link_to "New Gallery Page", new_admin_gallery_page_path %></li>
        </ul>
      </li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
